
<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->
		<div class="welcome">Welcome to my website, I will be demonstrating HTML5 principles and techniques, Routing in Express</div>
		<h1 class="home-title">What's in here</h1>
		<p>
			This site consists of 3 static views(Home, About, HTML Demo) as well as 5 routes that supply data, including: 
			<a href="/students">All students</a>, 
			<a href="/students?course=3">Students by Course</a>, 
			<a href="/student/2">A Single Student By Student Number</a> and 
			<a href="/courses">All Course</a>.
		</p>
		<h1 class="home-title">What I use</h1>
		<p>
			This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web
		</p>
					
		<!-- End your code here  -->



	</main>
</div>
