<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/theme.css" type="text/css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Feiye Chen</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
					<li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">

					<!-- Start your code here -->
					<header class="tables">
						<h1>My favourite movies</h1>
						<table class="table">
							<!-- <caption>My favourite movies</caption> -->
							
							<thead>
								<tr>
									<th>Title</th>
									<th>Director</th>
									<th>Release Year</th>
								</tr>
							</thead>
						
							<tbody>
								<tr>
									<td>Interstellar</td>
									<td>Christopher Nolan</td>
									<td>2014</td>
								</tr>
								<tr>
									<td>Inception</td>
									<td>Christopher Nolan</td>
									<td>2010</td>
								</tr>
								<tr>
									<td>Identity</td>
									<td>James Mangold</td>
									<td>2003</td>
								</tr>
							</tbody>
						
							<tfoot>
								<tr>
									<th colspan="2">Total</th>
									<th>3</th>
								</tr>
							</tfoot>
						</table>

						<h1>My favourite music</h1>
						<table class="table">
							<!-- <caption>My favourite music</caption> -->
						
							<thead>
								<tr>
									<th>Title</th>
									<th>Singer</th>
									<th>Release Year</th>
								</tr>
							</thead>
						
							<tbody>
								<tr>
									<td>Where'd You Go</td>
									<td>Fort Minor featuring Holly Brook & Jonah Matranga</td>
									<td>2006</td>
								</tr>
								<tr>
									<td>Mystery Colors</td>
									<td>Astronauts, etc.</td>
									<td>2012</td>
								</tr>
								<tr>
									<td>Melt into the Blue</td>
									<td>The fin.</td>
									<td>2019</td>
								</tr>
							</tbody>
						
							<tfoot>
								<tr>
									<th colspan="2">Total</th>
									<th>3</th>
								</tr>
							</tfoot>
						</table>
						
						<p>
							I like science fiction movies and music with a strong beat!
						</p>
					</header>
					<hr>
					<header class="lists">
						<h1>List</h1>
						<ol>
							<li>Playing Snooker</li>
							<li>Watching Movie</li>
							<li>Taking Photo
								<ul>
									<li>Portrait</li>
									<li>Landscape</li>
									<li>Food & Product</li>
								</ul>
							</li>
							<li>Workout</li>
							<li>Reading</li>
						</ol>
						<p>
							Above are my favourite activities!
						</p>
					</header>
					<hr>
					<header class="images">
						<h1>Images</h1>
						<img src="https://static01.nyt.com/images/2020/10/29/style/28MOON-01/oakImage-1603985177355-mediumSquareAt3X.jpg" alt="Picture of Moon" width="400">
						<br>
						<img src="https://now.uiowa.edu/sites/now.uiowa.edu/files/primary-media/2020_09_22-Hazy%20Sunrise-tschoon-157.jpg" alt="Picture of Sun" width="400">
						<br>
						<img src="https://images.newscientist.com/wp-content/uploads/2019/05/21162807/pia21978.jpg" alt="Picture of Jupiter" width="400">
						<p>
							Above are my favourite planets!
						</p>
					</header>
					<hr>
					<header class="audio">
						<h1>Audio</h1>
						<audio controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mp3">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
							<p>Sorry, your browser doesn't support HTML5 audio. Here is a <a href="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3">link to the audio</a> instead</p>.
						</audio>
						<p>
							Above is the song!
						</p>
					</header>
					<hr>
					<header class="video">
						<h1>Video</h1>
						<video width="320" height="240" controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
							<p>Sorry, your browser doesn't support HTML5 video</p>
						</video>
						<p>
							Above is the video!
						</p>
					</header>
					<!-- End your code here  -->

				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>