@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.bg-light{
    font-family: 'Permanent Marker', cursive;
}

.navbar-brand{
    font-size: 2em;
}

/* @media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 750px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 970px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 1170px;
    }
} */

.container {
    width: 100%;
}