@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.bg-light{
    font-family: 'Permanent Marker', cursive;
}

.navbar-brand{
    font-size: 2em;
}

.container{
    max-width: 80%;
    margin-top: 80px;
    font-family: 'Roboto', sans-serif;
}